body{
  background-color: rgb(1, 75, 75);
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  font-family: sans-serif;
}


button:active{
  scale: .7;
}

.list{
  background-color: rgb(80, 116, 148);
  color: black;
  padding: 5px;
  border-radius: 20px;
  height: auto;
  text-align: center;
  margin: 5px 0;
  display: flex;
  justify-content:space-between;
  align-items: center;
  max-width: 300px;
  min-width: 300px;
  
}

.list button{
  border-radius: 100%;
  padding: 10px 0;
  
}

.list h4{
  word-break: break-all;
  padding: 10px;
  border-radius: 5px;
}

.main{
  background-color: darksalmon;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 5px 6px 10px black;
}

.input input{
  padding: 10px;
  font-size: large;
  border: none;
  background-color: bisque;
  border-radius: 5px;
}

button{
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}